@charset "UTF-8";
.body {
    display: flex;
	margin: auto;
}
.webpage {
    display: flex;
    background: #fff;
    width: 100vw;
    height: 100vh;
    margin: auto;
}
.exterior {
    display: flex;
    background: #fff;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
	border-style: solid;
	border-color: #d3d3d3;
	border-width: 1px;
}
.interior {
    display: flex;
    background: #000;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
	border-style: solid;
	border-color: #d3d3d3;
	border-width: 1px;
}
.secondwebpage {
    display: flex;
    background: #fff;
    width: 100vw;
    height: 100vh;
    margin: auto;
}
.interiorinterior {
    display: flex;
    background: #fff;
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
}
.secondexterior {
    display: flex;
    background: #fff;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}
.secondinterior {
    display: flex;
    background: #000;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}
.secondinteriorinterior {
    display: flex;
    background: #fff;
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
}