body{

    margin: 0;
    background: lightgray;
    overflow: hidden;
  }
.webpage {
    display: flex;
    background: #fff;
    width: 100vw;
    height: 100vh;
}
.exterior {
    display: flex;
    background: #fff;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
	border-style: solid;
	border-color: #d3d3d3;
	border-width: .05px;
}
.interior {
    display: flex;
    background: #fff;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
	border-style: solid;
	border-color: #d3d3d3;
	border-width: .05px;
}

.interiorinterior {
    display: flex;
    background: #000;
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
}

.exterior2 {
    display: flex;
    background: #fff;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
	border-style: solid;
	border-color: #d3d3d3;
	border-width: .05px;
}
.interior2 {
    display: flex;
    background: #;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
	border-style: solid;
	border-color: #d3d3d3;
	border-width: .05px;
}

.interiorinterior2 {
    display: flex;
    background: #fff;
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
}


